body {
  background: url('/img/marbleBackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* cover photo */
.masthead {
  height: 50vh;
  min-height: 200px;
  background-image: url('/img/masthead.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-device-width : 480px) {
  .masthead {
    height: 33vh;
  }
}

.logo {
  height: 100px;
  transform: translate(0, -50%);
  background-image: url('https://via.placeholder.com/800x100');
  background-position: center;
  background-repeat: no-repeat;
}

/*-- gallery page --*/
.fa-chevron-left {
  font-size: 25px;
  color: var(--lightBlack);
  opacity: .75;
}

/* -- footer -- */
.footer {
  background-color: var(--lightBlack);
  color: var(--white);
}

a.footerLink {
  color: var(--white);
  opacity: .75;
}

a.footerLink:hover {
  color: var(--white);
  text-decoration: underline;
  text-decoration-color: var(--white);
}

.fa-yelp,
.fa-instagram {
  font-size: 25px;
  color: var(--white);
  opacity: .75;
}

.reserved {
  color: var(--white);
  font-size: 11px;
  opacity: .75;
}

/* -- root -- */
:root {
  --white: #fff;
  --black: #000;
  --lightBlack: #303030;
  --lightGrey: #888b8d;
}