@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

body {
  background: url('/img/marbleBackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
}

.offwhite {
  color: var(--white);
  opacity: .75;
}

/* -- navbar -- */
a.nav-link:hover {
  color: var(--white);
  text-decoration: underline;
}

.carousel-inner.homeCarousel,
.carousel.homeCarousel {
  height: 400px;
  max-width: 400px;
}

/* -- copver photo -- */
.masthead {
  height: 50vh;
  min-height: 200px;
  background-image: url('/img/masthead.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-device-width : 480px) {
  .masthead {
    height: 33vh;
  }
}

.logo {
  height: 100px;
  transform: translate(0, -50%);
  background-image: url('https://via.placeholder.com/800x100');
  background-position: center;
  background-repeat: no-repeat;
}

/*-- about page --*/

.noBorder {
  border: 0px;
}

/* -- services -- */
.card1 {
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

.card2 {
  border: 0px;
}

.card3 {
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

.card4 {
  border-left: 0px;
  border-bottom: 0px;
}

.card5 {
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.card6 {
  border-right: 0px;
  border-bottom: 0px;
}

.card-body:hover>.card-title {
  transform: scale(1.5);
}

.card-body>.card-title {
  transition: transform 0.35s ease;
}

/*-- gallery page --*/
.fa-chevron-left {
  font-size: 25px;
  color: var(--lightBlack);
  opacity: .75;
}

/* -- contact us -- */

/*size of field*/
.user-input-wrp {
  position: relative;
  width: 80%;
}

/*change to line style*/
.user-input-wrp .inputText {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0px;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

.form-control:focus {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #ced4da;
  box-shadow: none;
}

.textArea:focus {
  width: 100%;
  outline: 1px;
  border: 1px solid #ced4da;
  box-shadow: none;
}

/* -- footer -- */
.footer {
  background-color: var(--lightBlack);
  color: var(--white);
}

a.footerLink {
  color: var(--white);
  opacity: .75;
}

a.footerLink:hover {
  color: var(--white);
  text-decoration: underline;
  text-decoration-color: var(--white);
}

.fa-instagram,
.fa-yelp {
  font-size: 25px;
  color: var(--white);
  opacity: .75;
}

.reserved {
  color: var(--white);
  font-size: 11px;
  opacity: .75;
}

/* -- root -- */
:root {
  --white: #fff;
  --black: #000;
  --lightBlack: #303030;
  --lightGrey: #888b8d;
}